.App {
  text-align: center;
}

.Calc-In {
  align-items: center;
  display: flex;
  margin: auto;
  padding: 0px;
  width: 75%;
  overflow: hidden;
}

.Calc-Out {
  margin: auto;
  width: 50%;
}

.Error-Box {
  display: inline-block;
  background-color: #FF143C;
  border-radius: 20px;
  padding: 10px;
  width: 55%;
}

.Equation {
  font-size: large;
  padding: 10px;
}

.Header-Box {
  background-color: #333;
  color: white;
  padding: 20px;
}

.Input-Window {
  display: inline-block;
  float: left;
  font-size: large;
  height: 15px;
  padding: 5px;
  width: 70%;
}

.Instructions {
  font-size: small;
}

.Me-Intro {
  font-size: medium;
}

.Submit-Button {
  background-color: #333;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  float: right;
  height: 20px;
  padding: 15px 0px;
  width: 25%;
}

.Submit-Button:hover {
  background-color: #444;
}

.Submit-Button:active {
  background-color: #444;
  transform: scale(.95);
}
